:root {
  --base-color: #1e1e1e;
  --primary-color: #cd7100ff;
  --text-color: #f3f3f3;
  --container-color: #2e2e30;
  --button-hover-color: #4c4c4c;
  --display-color: #404040;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'Inter', sans-serif;
}

body {
  background-color: var(--base-color);
}

.title-header {
  font-family: var(--title-font);
  color: var(--text-color);
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}

.calculator-container {
  margin: 20px auto;
  background-color: var(--container-color);
  border-radius: 25px;
  box-shadow: 0 0px 10px rgba(50, 50, 50, 0.5);
  padding: 20px;
  width: 90%;
  max-width: 800px;
}

.calculator-display,
.display {
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  font-family: var(--body-font);
  font-size: 1.75rem;
  text-align: right;
  margin: 20px;
  padding: 10px;
  background-color: var(--display-color);
  border: none;
  border-radius: 10px;
}

.display {
  width: 95%;
  color: var(--text-color);
  background-color: var(--display-color);
  transition: color 0.3s, background-color 0.3s;
}

/* Cerah saat ada angka */
.display.active {
  color: #ffffff;
}

/* History */
.calculator-history {
  background: #202020ff;
  color: #dadadaff;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
  font-family: var(--body-font);
  font-size: 1rem;
  max-height: 120px;
  overflow-y: auto;
}

#history-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#history-list li {
  margin-bottom: 10px;
  padding: 2px 0;
  font-size: 0.95rem;
}

#history-results {
  color: #ccc;
  margin-top: 10px;
  text-align: start;
  font-size: 1.25rem;
  height: 90px;
  border: none;
  border-radius: 10px;
  width: 100%;
  transition: background-color 0.2s;
  background-color: var(--container-color);
}

#history-results:hover {
  background-color: var(--display-color);
}

.fa-trash {
  color: white;
}

#clear-history {
  border: none;
  padding: 2px 8px;
  background-color: #c51d34;
  border-radius: 5px;
  transition: background 0.2s;
}

#clear-history:hover {
  background: #d91630ff;
}

/* .calculator-display {
  border: 1px solid #ccc;
} */

.button-row-1,
.button-row-2,
.button-row-3,
.button-row-4,
.button-row-5 {
  justify-content: center;
  display: flex;
  padding: 10px;
  gap: 20px;
  font-family: var(--body-font);
  font-size: 1rem;
}

#clear,
#button-percent,
#button-delete,
#button-divide,
#button-multiply,
#button-minus,
#button-equals,
#button-plus {
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 55px;
  width: 22.5%;
  background-color: #202020ff;
  color: var(--text-color);
}

#clear:hover,
#button-percent:hover,
#button-delete:hover,
#button-divide:hover,
#button-multiply:hover,
#button-minus:hover,
#button-equals:hover,
#button-plus:hover {
  background-color: #181818ff;
}

#button-coma,
#button-7,
#button-8,
#button-9,
#button-4,
#button-5,
#button-6,
#button-1,
#button-2,
#button-3,
#button-0,
#button-00 {
  height: 55px;
  width: 22.5%;
  background-color: var(--display-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#button-coma:hover,
#button-7:hover,
#button-8:hover,
#button-9:hover,
#button-4:hover,
#button-5:hover,
#button-6:hover,
#button-1:hover,
#button-2:hover,
#button-3:hover,
#button-0:hover,
#button-00:hover {
  background-color: var(--button-hover-color);
}

#button-equals {
  background-color: var(--primary-color);
  color: var(--text-color);
}

#button-equals:hover {
  background-color: rgba(162, 89, 0, 1);
}

footer {
  text-align: center;
  font-size: 1rem;
  color: #666;
  margin-top: 20px;
}
